<ng-container *ngIf="dataSource">
  <mat-card class="grid-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Book List</mat-card-title>
      <div class="filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let book"> {{ book.title }} </td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let book"> {{ book.author }} </td>
        </ng-container>

        <!-- Genre Column -->
        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef> Genre </th>
          <td mat-cell *matCellDef="let book"> {{ book.genre.length > 1 ? book.genre : 'N/A' }} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let book"> {{ book.price | currency }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let book">
            <a mat-mini-fab [color]="'primary'" class="grid-action-btn edit-action-btn" [routerLink]="['edit', book._id]">
              <mat-icon>create</mat-icon>
            </a>
            <a mat-mini-fab [color]="'accent'" class="grid-action-btn delete-action-btn" (click)="deleteBook(book._id)">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</ng-container>

