<div class="app-wrapper mat-app-background">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span>Book Inventory</span> -->
      <a class="title" [routerLink]="['/']">Book Inventory</a>
      <span class="nav-spacer"></span>
      <a mat-raised-button class="add-btn" [color]="'accent'" routerLink="/add">Add Book</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-content">
    <app-books></app-books>
  </div>
</div>
