<mat-card class="edit-book-card">
  <mat-card-header class="card-header">
    <mat-card-title>Edit Book</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content" *ngIf="book$ | async as book">
    <ng-container *ngIf="editBookForm">
      <form [formGroup]="editBookForm" class="edit-book-form">
        <mat-form-field class="edit-book-input title">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="edit-book-input author">
          <mat-label>Author</mat-label>
          <input matInput formControlName="author">
        </mat-form-field>
        <mat-form-field class="edit-book-input genre">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.name">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="edit-book-input price">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price">
        </mat-form-field>
      </form>
    </ng-container>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <mat-card-actions class="card-actions">
      <a routerLink="/" mat-raised-button>Cancel</a>
      <button mat-raised-button [color]="'accent'" (click)="saveChanges()">Save Changes</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
